.box {
  display: flex;
  column-gap: 25px;
  flex-wrap: wrap;
}

.material-icons {
  cursor: pointer;
}

.card {
  width: 300px;
}

.card .card-image .card-title {
  color: black;
  font-weight: 400;
  background-color: #d1d1d1de;
}

.cart {
  margin-top: 40px;
}

.collection .collection-item {
  display: flex;
}

.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
}

.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}

.item-desc {
  align-self: center;
}

.cart-title {
  display: flex;
  justify-content: space-between;
}

.count-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.count {
  margin: 0 10px;
}

.nothing {
  font-size: 50px;
  text-align: center;
  width: 100%;
}

.nothing:last-child {
  font-size: 40px;
}

.cart-icon {
  display: none !important;
}

.total-items {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

.notification {
  position: fixed;
  height: 300px;
  width: 300px;
  bottom: 0;
  right: 15%;
  z-index: 9999;
}

.custom-toast {
  min-width: 310px;
  text-align: center;
  color: black;
  font-weight: 400;
  background-color: #d1d1d1de;
}

@media screen and (max-width: 1750px) {
  .box {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .cart-icon {
    display: block !important;
  }
  .nav-link {
    display: none;
  }
  .notification {
    position: fixed;
    height: 80px;
    width: 70%;
    bottom: 0;
    z-index: 9999;
    align-self: center;
  }
}
